<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251788705147-crsq2ojer60gb3adh66ur9d8h6k26jmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251788705147-crsq2ojer60gb3adh66ur9d8h6k26jmn</string>
	<key>API_KEY</key>
	<string>AIzaSyCSEH2j9XLawUCtGF5a84faXgaIh9g_nZo</string>
	<key>GCM_SENDER_ID</key>
	<string>251788705147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tech030893.Firebase-Email-Login</string>
	<key>PROJECT_ID</key>
	<string>fir-email-login-b7fdb</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-email-login-b7fdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251788705147:ios:8c1117737a6a6199e891de</string>
</dict>
</plist>